.md, .ios, .wp {
  page-splash {
    .scroll-content {
      @include gradient-background($playme-first-gradient-color,
                                   $playme-gradient-top-stop,
                                   $playme-second-gradient-color,
                                   $playme-gradient-bottom-stop);
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }

    .alpha-gradient {
      position: absolute;
      top: 0;
      transform: translateY(-50%);
      width: 100%;
    }

    .playme-logo {
      width: 50%;
      height: auto;
      margin: 0 auto;
    }

    ion-row {
      align-items: center;
      text-align: center;
    }

    ion-item {
      color:            $input-text-color;
      background-color: $input-background-color;
      font-size:        0.9em;
    }
    
    ion-spinner {
      position: absolute;
      bottom: 20%;
      left: 50%;
      transform: translateX(-50%);
      * {
        stroke: white;
      }

      &.spinner-circles circle,
      &.spinner-bubbles circle,
      &.spinner-dots circle {
        fill: white;
      }
    }
  }
}
