.md, .ios, .wp {
  page-album {
    img {
      width:          100%;
      height:         auto;
    }

    ion-item, .item-inner {
      text-align:     center;
      border:         none !important;
    }

    .albumTitle {
      font-weight:    bold;
    }

    .playerControls {
      font-size:      2em;
      letter-spacing: 26px;
      text-indent:    12px;
    }
  }
}
